{% extends "base.html" %}
{% load staticfiles%}

{%block estilos%}
    {{block.super}}
    <link href="{%static 'base/css/datepicker3.css'%}" rel="stylesheet">
{%endblock%}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
        	<form action="" method="post">{% csrf_token %}
				{{ form.as_p }}

				<fieldset>
	                <legend>Options</legend>
	                {{ menu_items_formset.management_form }}
	                {{ menu_items_formset.non_form_errors }}
	                {% for form in menu_items_formset %}
	                	<div class="inline {{ menu_items_formset.prefix }}">
	                        {{ form }}
	            		</div>
	                    
	                {% endfor %}
	            </fieldset>

				<input type="submit" value="Update" />
			</form>
    	</div>
    </div>	



{% endblock %}

{%block scripts%}
	{{block.super}}
	<script src="{%static 'base/js/jquery.formset.js'%}"></script>
	<script src="{%static 'base/js/bootstrap-datepicker.js'%}"></script>
	<script type="text/javascript">
	    $(document).ready(function(){
	        $('#id_day').datepicker({
	            format:'dd-mm-yyyy',
	            keyboardNavigation: false,
	            autoclose: true
	        });
	    });
	     $(function() {
            $(".inline.{{ menu_items_formset.prefix }}").formset({
                prefix: "{{ menu_items_formset.prefix }}",
            })
        })
    </script>

{%endblock%}